<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Research Software Engineer Generator</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="What kind of research software engineer are you?">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/chart.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="icon" type="image/png" href="favicon.ico">
</head>

<body>


<!-- Navigation, see links in _config.yml-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom" id="mainNav">
  <div class="container-fluid" id="logo-navbar">
   <a class="navbar-brand navbar-brand-logo" href="https://us-rse.org">
       <img id="logo" alt="logo" src="img/logo-transparent.svg" style="width:200px"></a>
      <a class="navbar-brand" href="">RSE Phenotype Generator
      </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li><a href="about/">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="padding:50px; padding-top:200px">
    <div class="row" id="app">
        <div class="col-md-6">
            <canvas id="rse-generator" height="200px" style="background-color:white"></canvas>
            <button class="btn btn-primary btn-sm" v-on:click="randomize">Randomize</button>
            <button class="btn btn-primary btn-sm" @click="reset">Reset</button>
        </div>
        <div class="col-md-6">
            <form class="form" @submit.prevent>
              <h4>RSE Generator</h4>
                <p style="margin-bottom:20px"><small>What kind of research software engineer are you?</small></p>

                <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" 
                               placeholder="My RSE Phenotype" 
                               v-on:input="updateTitle($event)"  type="text" v-model="title" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label title="We use this to give a unique identifier to your exported image.">GitHub Alias</label>
                        <input class="form-control" 
                               placeholder="rseng" 
                               v-on:input="updateAlias($event)" type="text" v-model="alias" required>
                    </div>
                </div>
                </div>

                <div class="form-group">
                    <label>Dimensions</label>
                    <input class="form-control" 
                           placeholder="What facets do you want to include?" 
                           v-on:input="updateDimensions($event)"  type="text" v-model="labels" required>
                    <p>labels around the plot that you want to use to score yourself against.</p>
                </div>
                <div class="form-group">
                    <label>Groups</label>
                    <input class="form-control" 
                           placeholder="Which groups do these facets apply to?" 
                           v-on:input="updateGroups($event)" type="text" v-model="groups" required>
                    <p>groups that you serve, possibly each with a different score.</p>
                </div>
                <div class="form-group">
                    <button v-on:click="saveImage()" class="btn btn-primary">Export</button>
                    <a v-on:click="pullRequest()"><button v-if="showShare" class="btn btn-primary">Share your Phenotype</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
<!--https://github.com/chrispahm/chartjs-plugin-dragData-->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@0.3.0/dist/chartjs-plugin-dragData.min.js"></script>
<script src="rse-phenotype.js"></script>

</body>
</html>
